@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../font/Bariol_Bold.eot');
  src: url('../font/Bariol_Bold.eot') format('embedded-opentype'),
  url('../font/Bariol_Bold.woff') format('woff'),
  url('../font/Bariol_Bold.ttf') format('truetype'),
  url('../font/Bariol_Bold.svg#HelveticaNeueLight') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../font/Bariol_Regular.eot');
  src: url('../font/Bariol_Regular.eot') format('embedded-opentype'),
  url('../font/Bariol_Regular.woff') format('woff'),
  url('../font/Bariol_Regular.ttf') format('truetype'),
  url('../font/Bariol_Regular.svg#HelveticaNeueThin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../font/Bariol_Thin.eot');
  src: url('../font/Bariol_Thin.eot') format('embedded-opentype'),
  url('../font/Bariol_Thin.woff') format('woff'),
  url('../font/Bariol_Thin.ttf') format('truetype'),
  url('../font/Bariol_Thin.svg#HelveticaNeueThin') format('svg');
  font-weight: 300;
  font-style: normal;
}


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.font-ios {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  &.font-light {
    font-weight: 300 !important;
  }
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold !important;
}

.line-height-h2 {
  line-height: 24px;
  text-align: center;
  font-size: 23px;
}
h1, h2, h3, h4, h5, h6, input{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.dark {
  color: $black;
}
.gray {
  color: $grayInput;
}
.gray-input {
  color: $grayInput;
}
.pink {
  color: $pink;
}
.blue-light {
  color: $blueLight;
}
.green-light {
  color: $greenLight;
}
.blue-dark {
  color: $blueDark;
}
.large {
  font-size: 18px;
}
