.background-main {
  background: url("../img/bg.png") center;
  background-color: white !important;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-clean {
  background: url("../img/bg_clean.png") center;
  background-color: white !important;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-orange {
  background: url("../img/back_bg_orange.png") center;
  background-color: white !important;
  -webkit-background-size: cover;
  background-size: cover;
}
.logo-main-home {
  width: 90%;
}