<ion-view class="background-main" view-title="{{'MAIN.ALARM.ADD.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="main.alarm.home">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <form name="alarm">
    <ion-content scroll="true" class="has-one-button-footer">
        <div class="padding">
            <div class="text-center padded">
                <ion-list>
                    <ion-item class="text-center item-clear">
                        <div class="shape-image-medium v-middle">
                            <div class="shape-icon" style="border-color: {{colorAlpha}} !important;">
                                <div class="center" style="background: {{color}} !important">
                                    <img src="img/pill.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <input type='text' colorpicker change="changeColor" start="recordatorios.length" />
                    </ion-item>
                    <ion-item class="item-input gray item-icon-right item-liked" ui-sref="main.alarm.medicines">
                        <span class="" ng-if="alarmMedicine.nombre">{{alarmMedicine.nombre || ('MAIN.ALARM.MEDICINE'|locale)}}</span>
                        <span class="gray" ng-if="!alarmMedicine.nombre">{{('MAIN.ALARM.MEDICINE'|locale)}}</span>
                        <i class="icon ion-chevron-right"></i>
                    </ion-item>
                    <ion-item class="item-input gray item-icon-right item-clear-bottom item-liked" title="{{('MAIN.ALARM.KIND'|locale)}}" listpicker change="changeKind(alarm)" ng-model="alarm.kind">
                        <span class="" ng-if="alarm.kind" >{{alarm.kind || ('MAIN.ALARM.KIND'|locale)}}</span>
                        <span class="gray" ng-if="!alarm.kind" >{{('MAIN.ALARM.KIND'|locale)}}</span>
                        <i class="icon ion-chevron-down"></i>
                        <div class="hide elements">
                            <span value="{{forma.nombre}}" ng-repeat="forma in medicineForma">{{forma.nombre}}</span>
                        </div>
                        <input type="hidden" required ng-model="alarm.kind"/>
                    </ion-item>

                    <ion-item ng-if="!alarm.kind" class="item-input gray item-icon-right item-clear-bottom item-liked" title="{{('MAIN.ALARM.DOSIS'|locale)}}">
                        <span class="gray" ng-if="!alarm.kind">{{('MAIN.ALARM.DOSIS'|locale)}}</span>
                        <i class="icon ion-chevron-down"></i>
                        <div class="hide elements">
                        </div>
                    </ion-item>

                    <ion-item ng-if="alarm.kind" class="item-input gray item-icon-right item-clear-bottom item-liked" title="{{('MAIN.ALARM.DOSIS'|locale)}}" listpicker ng-model="alarm.dosis">
                        <span class="" ng-if="alarm.dosis">{{alarm.dosis}} {{medicineForma[formaSelected].element  || ('MAIN.ALARM.DOSIS'|locale)}}</span>
                        <span class="gray" ng-if="!alarm.dosis">{{('MAIN.ALARM.DOSIS'|locale)}}</span>
                        <i class="icon ion-chevron-down"></i>
                        <div class="hide elements">
                            <span value="{{dosis}}" ng-repeat="dosis in medicineForma[formaSelected].dosis track by $index">{{dosis}} {{medicineForma[formaSelected].element || ('MAIN.ALARM.DOSIS'|locale)}}</span>
                        </div>
                        <input type="hidden" required ng-model="alarm.dosis"/>
                    </ion-item>

                    <ion-item class="item-input gray item-icon-right item-stacked-label item-clear-bottom">
                        <div time-picker="alarm.hora">
                            <span class="input-label">{{'MAIN.ALARM.INIT_HOUR'|locale}}</span>
                            <input type="time" ng-model="alarm.hora" ng-init="hora(alarm)" required placeholder="{{'MAIN.ALARM.INIT_HOUR'|locale}}">
                        </div>
                    </ion-item>

                    <ion-item class="item-input gray item-icon-right item-clear-bottom item-liked" title="{{('MAIN.ALARM.FREQUENCY'|locale)}}" listpicker ng-model="alarm.frequency">
                        <span class="" ng-if="alarm.frequency" >{{((alarm.frequency)?'c/ ':'') + (alarm.frequency || ('MAIN.ALARM.FREQUENCY'|locale)) + ((alarm.frequency)?' hrs':'') }}</span>
                        <span class="gray" ng-if="!alarm.frequency" >{{('MAIN.ALARM.FREQUENCY'|locale)}}</span>
                        <i class="icon ion-chevron-down"></i>
                        <div class="hide elements">
                            <span value="{{$index+1}}" ng-repeat="i in generateNumber(24) track by $index">c/ {{$index+1}}hrs</span>
                        </div>
                        <input type="hidden" required ng-model="alarm.frequency"/>
                    </ion-item>

                    <!--<ion-item class="item-input gray item-icon-right item-clear-bottom item-liked select-inside">
                        <span class="" >{{((alarm.frequency)?'c/ ':'') + (alarm.frequency || ('MAIN.ALARM.FREQUENCY'|locale)) + ((alarm.frequency)?' hrs':'') }}</span>
                        <i class="icon ion-chevron-down"></i>
                        <span class="hide" select-inside="'3'" ng-model="alarm.frequency"></span>
                        <select class="like-input" required ng-model="alarm.frequency">
                            <option value="{{$index+1}}" ng-repeat="i in generateNumber(24) track by $index">c/ {{$index+1}}hrs</option>
                        </select>
                    </ion-item>-->

                    <ion-item  ng-if="alarm.kind" class="item-input gray item-icon-right item-clear-bottom item-liked" ng-init="hora(alarm)" title="{{('MAIN.ALARM.QUANTITY'|locale)}}" listpicker ng-model="alarm.quantity">
                        <span class="" ng-if="alarm.quantity">{{(alarm.quantity)}} {{medicineForma[formaSelected].unit || ('MAIN.ALARM.DOSIS'|locale)}}</span>
                        <span class="gray" ng-if="!alarm.quantity">{{(('MAIN.ALARM.QUANTITY'|locale))}}</span>
                        <i class="icon ion-chevron-down"></i>
                        <div class="hide elements">
                            <span value="{{cantidad}}" ng-repeat="cantidad in medicineForma[formaSelected].cantidad track by $index">{{cantidad}} {{medicineForma[formaSelected].element || ('MAIN.ALARM.DOSIS'|locale)}}</span>
                        </div>
                        <input type="hidden" required ng-model="alarm.quantity"/>
                    </ion-item>

                    <ion-item ng-if="!alarm.kind" class="item-input gray item-icon-right item-clear-bottom item-liked" title="{{('MAIN.ALARM.DOSIS'|locale)}}">
                        <span class="gray" ng-if="!alarm.quantity">{{('MAIN.ALARM.QUANTITY'|locale)}}</span>
                        <i class="icon ion-chevron-down"></i>
                        <div class="hide elements">
                        </div>
                    </ion-item>

                    <!--<ion-item class="item-input gray item-icon-right item-clear-bottom item-liked select-inside"  ng-init="hora(alarm)">
                        <span class="">{{(alarm.quantity || ('MAIN.ALARM.QUANTITY'|locale))}} {{(alarm.quantity) && (((alarm.kind == 'Comprimidos')?'Comprimidos':'') || ((alarm.kind == 'Inhalador')?'Dosis':'') || ((alarm.kind == 'Liquido')?'mL':'')) }}</span>
                        <i class="icon ion-chevron-down"></i>
                        <span class="hide" select-inside="'10'" ng-model="alarm.quantity"></span>
                        <select class="like-input" required ng-model="alarm.quantity">
                            <option value="{{$index+1}}" ng-repeat="i in generateNumber(50) track by $index">{{$index+1}} {{(((alarm.kind == 'Comprimidos')?'Comprimidos':'') || ((alarm.tipo == 'Inhalador')?'Dosis':'') || ((alarm.tipo == 'Liquido')?'mL':''))}}</option>
                        </select>
                    </ion-item>-->
                </ion-list>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-clear text-center footer-has-button-block">
        <ion-item class="item-clear item-no-margin-bottom item-no-margin-top item-no-padding-side">
            <button class="button button-block button-calm button-ios" ng-click="add(alarm)" ng-disabled="(alarm.$invalid || (alarmMedicine.nombre == undefined))">{{"MESSAGE.SAVE"|locale}}</button>
        </ion-item>
    </ion-footer-bar>
    </form>
</ion-view>