<ion-view class="background-main" view-title="{{'MAIN.ALARM.HOME.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ng-click="toggleLeft()">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive button-icon" ng-click="cleanMedicine()" ui-sref="main.alarm.add" ng-if="recordatorios.length < 4">
            <i class="icon ion-ios-plus-empty"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true" class="scroll-fullsized">
        <ion-refresher
                pulling-text="Suelta para recargar..."
                on-refresh="updateOnline()">
        </ion-refresher>
        <ion-list>
            <ion-item class="text-center padding item-clear">
                <div class="alarm-wrapper">
                    <div class="now-bar" style="{{nowBarStyle}}">
                        <span class="inside-bar"></span>
                    </div>
                    <div class="now">
                        <div class="day font-bold">{{dw}}</div>
                        <div class="date font-normal">{{d}} de {{mt}}</div>
                        <div class="time">{{h}}:{{m}}</div>
                    </div>
                    <div class="medicine-bar" ng-repeat="bar in bars" style="{{bar.style}}">
                        <span class="inside-bar">
                            <i class="item-medicine-bar" ng-class="element.class" style="display: inline-block; background: {{element.color}}; border-color: {{element.color}};" ng-repeat="element in bar.elements"></i>
                        </span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list class="list-medicines" ng-class="{'empty': recordatorios.length == 0}" lowerspace>
            <div class="item item-icon-right item-icon-left item-alarm" ui-sref="main.alarm.edit({token: recordatorio.id})" ng-if="hasAlarm(recordatorio)" ng-repeat="recordatorio in recordatorios">
                <i class="icon ion-ios-checkmark" style="color: {{recordatorio.color}}"></i>
                <span class="title font-ios font-bold">{{recordatorio.nombre}}</span>
                <span class="item-note font-ios">en <b>{{calculateNext(recordatorio)}}</b> min</span>
                <i class="icon ion-ios-arrow-forward gray"></i>
            </div>
            <div class="text-center" ng-if="!recordatorios || recordatorios.length == 0">
                <div class="add-shape-plus" ng-click="cleanMedicine()" ui-sref="main.alarm.add">
                    <div class="contact-icon">
                        <div class="center">
                            <i class="icon ion-ios-plus-empty"></i>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="gray font-ios large m-top" ng-bind-html="'MAIN.ALARM.HOME.ADD'|locale:null:'html'"></div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>