/* Colores de Sketch */
$mainBlue: #0544A4;
$lightBlue: #1194F6;
$blue: #0B74D5;
$headBlue: #1376D1;
$gray: #9B9B9B;
$grayOther: #A8A7A9;
$orange: #FF9000;
$red: #FC272D;
$lightGray: #7E7E7E;
$lighterGray: #BFBFBF;
$otherGray: #AAAAAA;
$otherBlue: #4A90E2;
$grayCircle: #BDB7C1;
$blackOther: #6D6D6D;
$pink: #CC0C56;
$blueLight: #139EEA;
$greenLight: #42D551;
$blueDark: #074080;
$grayInput: #999999;
$blackStrange: #4A4D63;

/* Editar variables de IONIC */
$light:                           #fff;
$stable:                          #FFC200;
$positive:                        #0544A4;
$calm:                            #1194F6;
$balanced:                        #0B74D5;
$energized:                       #FF7C00;
$assertive:                       #FC272D;
$royal:                           #9B9B9B;
$dark:                            #7E7E7E;
$black:                           #42464D;

//$font-size-base:                  20px;
//$font-size-large:                 27px;
//$font-size-small:                 16px;