<ion-view class="background-clean" view-title="" hide-nav-bar="false">
    <ion-nav-bar class="bar-clear title-blue bar-ios">
    </ion-nav-bar>
    <ion-content scroll="true" class="has-header-padding" on-swipe-left="start()" on-swipe-right="welcome('welcome.b')">
        <ion-list>
            <ion-item class="item-clear">
                <h1 class="text-center calm">BIENVENIDO</h1>
            </ion-item>
            <ion-item class="item-clear item-280px item-no-padding-bottom">
                <img class="img-responsive img-middle" src="img/welcome.c.png" alt=""/>
            </ion-item>
            <ion-item class="item-clear text-center item-92px item-no-padding-bottom">
                Ingresa el recordatorio de todos <br/>
                los medicamentos que debes <br/>
                ingerir diariamento.
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-clear text-center footer-has-button-block">
        <ion-item class="text-center item-clear item-no-margin-top item-height-55 item-no-margin-top item-no-padding-bottom">
            <div class="slider-pager footer">
                <span class="slider-pager-page" ui-sref="welcome.a" ><i class="icon ion-record"></i></span>
                <span class="slider-pager-page" ui-sref="welcome.b"><i class="icon ion-record"></i></span>
                <span class="slider-pager-page active" ui-sref="welcome.c"><i class="icon ion-record"></i></span>
            </div>
        </ion-item>
        <ion-item class="text-center item-clear item-no-margin-top item-height-55 item-no-margin-top item-no-padding-bottom">
            <button class="button button-clear" ng-click="start()"><span class="calm">Comenzar</span></button>
        </ion-item>
    </ion-footer-bar>
</ion-view>