<?xml version='1.0' encoding='utf-8'?>
<widget id="com.prolife.recalcine" version="1.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Prolife</name>
    <description>
    Aplicación de Prolife.
    </description>
    <author email="sebastian@alquimio.cl" href="http://alquim.io/">
        Alquimio Consultores
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="whatsapp://*" />
    <allow-intent href="tel:*" />
    <gap:platform name="ios" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <gap:plugin name="cordova-plugin-local-notifications-mm" source="npm"/>
    <gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.camera"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.splashscreen" version="1.0.0"/>
    <gap:plugin name="org.apache.cordova.network-information"/>
    <gap:plugin name="nl.x-services.plugins.actionsheet"/>
    <gap:plugin name="com.sharinglabs.imageresizer" version="0.1.2"/>
    <gap:plugin name="am.armsoft.plugins.listpicker" version="2.2.0"/>
    <gap:plugin name="com.cordova.plugins.sms" version="0.1.2"/>
    <gap:plugin name="cordova-plugin-datepicker" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <gap:plugin name="cordova-plugin-contacts-ios9" source="npm"/>
    <gap:plugin name="com.teamnemitoff.phonedialer" source="pgb" spec="0.3.0" />

    <preference name="android-build-tool" value="ant" />
    <preference name="webviewbounce" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="ActionSheet">
        <param name="ios-package" value="ActionSheet" />
    </feature>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
    <feature name="DatePicker">
        <param name="ios-package" value="DatePicker" />
    </feature>
    <gap:config-file overwrite="true" parent="LSApplicationQueriesSchemes" platform="ios">
        <array>
            <string>whatsapp</string>
            <string>fb</string>
        </array>
    </gap:config-file>
    <gap:splash gap:platform="ios" height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
    <gap:splash gap:platform="ios" height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
    <gap:splash gap:platform="ios" height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
    <gap:splash gap:platform="ios" height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
    <gap:splash gap:platform="ios" height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
    <icon src="resources/ios/icon/icon-72@2x.png" />
    <platform name="ios">
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
    </platform>
</widget>
