<ion-view class="background-main" view-title="{{'REGISTER.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="start.step-b">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-footer-terms" scroll="true">
        <ion-list>
            <ion-item class="item-clear">

                <h2 class="text-left font-bold balanced">CONFIDENCIALIDAD</h2><br/>
                <p class="no-wrap">
                    Los datos ingresados por los usuarios de esta app son privados y no serán compartidos ni revelados a terceros.
                </p><br/>
                <h2 class="text-left font-bold balanced">{{'REGISTER.TERMS.TITLE'|locale|uppercase}}</h2><br/>
                <!--<p class="text-left font-bold no-wrap"><span class="balanced">{{'REGISTER.TERMS.SUBTITLE'|locale}}</span></p><br/>-->
                <p class="no-wrap">
                    Laboratorio Recalcine/Abbott no se hace responsable ante los siguientes escenarios: <br/><br/>
                    <b>1.-</b> Si el medicamento no se encuentra en la farmacia presentada en esta aplicación.<br/>
                    <b>2.-</b> Si existe una falla en la comunicación del celular en caso de crisis.<br/>
                    <b>3.-</b> Si se ingresó de forma incorrecta la información, ya sea datos de personas de contacto, productos, dosis o frecuencia de uso.<br/>
                    <b>4.-</b> Si la toma no se efectúa según recordatorio de toma.<br/>
                    <b>5.-</b> Si dado el recordatorio de compra, el usuario no lo hace y se olvida de su medicación.<br/>
                    <b>6.-</b> Si existe una falla en el teléfono que no permite el uso de la aplicación.
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-clear text-center footer-has-button-block">
        <ion-item class="item-clear item-no-margin-bottom item-no-margin-top item-no-padding-side">
            <button class="button button-block button-calm button-ios" ng-click="accept()" ui-sref="start.step-b">{{"REGISTER.ACCEPT"|locale}}</button>
        </ion-item>
        <ion-item class="text-center item-clear item-no-margin-top item-height-55">
            <div class="slider-pager footer">
                <span class="slider-pager-page" ui-sref="start.step-a"><i class="icon ion-record"></i></span>
                <span class="slider-pager-page"><i class="icon ion-record"></i></span>
                <span class="slider-pager-page active"><i class="icon ion-record"></i></span>
            </div>
        </ion-item>
    </ion-footer-bar>
</ion-view>