<ion-view class="background-main" view-title="{{'OTHER.MEDICINE.LIST.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ng-click="back()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-calm head-blue button-icon" ui-sref="main.alarm.recalcinemedicines">
            <!--{{"REGISTER.ADD"|locale}}-->
            <i class="icon ion-ios-plus-empty"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <ion-list>
            <ion-item ng-click="addMedicina(medicine)" class="item-clear-padded-line item-icon-right" ng-repeat="medicine in myMedicines">
                <span class="balanced font-ios">{{medicine.nombre}}</span>
                <i class="icon ion-ios-plus-empty balanced" ng-if="!existMedicine(medicine)"></i>
                <i class="icon ion-ios-checkmark-empty balanced" ng-if="existMedicine(medicine)"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>