<ion-view class="background-main" view-title="{{'OTHER.MEDICINE.EDIT.TITLE'|locale}}">
<ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="others.medicinelist">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <form name="medicineForm">
        <ion-content scroll="true" class="has-one-button-footer">
            <div class="padding">
                <div class="text-center padded">
                    <ion-list>
                        <ion-item class="text-center item-clear">
                            <div class="shape-image-medium v-middle">
                                <div class="shape-icon">
                                    <div class="center">
                                        <img src="img/pill.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item-input gray">
                            <input type="text" ng-model="medicine.nombre" required minlength="2" placeholder="{{'MAIN.ALARM.MEDICINE'|locale}}">
                        </ion-item>
                    </ion-list>
                    <ion-item class="item-input other" ng-click="delete()">
                        <i class="icon assertive ion-ios-minus"></i> <span class="label lb-icon">{{'MAIN.ALARM.EDIT.REMOVE'|locale}}</span>
                    </ion-item>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="bar-clear text-center footer-has-button-block">
            <ion-item class="item-clear item-no-margin-bottom item-no-margin-top item-no-padding-side">
                <button class="button button-block button-calm button-ios" ng-click="edit(medicineForm)" ng-disabled="medicineForm.$invalid">{{"MESSAGE.SAVE"|locale}}</button>
            </ion-item>
        </ion-footer-bar>
    </form>
</ion-view>