<ion-view class="background-main" view-title="{{'OTHER.MEDICINE.LIST.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="main.dash.home">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ui-sref="others.medicineadd">
            Agregar
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <ion-refresher
                pulling-text="Suelta para recargar..."
                on-refresh="updateOnline()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="medicine in myMedicines" class="item-clear-padded-line item-icon-right">
                <span class="balanced font-ios">{{medicine.nombre}}</span>
                <ion-option-button class="button-assertive" ng-click="delete(medicine)"><i class="icon ion-ios-trash-outline"></i></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>