<ion-view class="background-clean" view-title="" hide-nav-bar="false">
    <ion-nav-bar class="bar-clear title-blue bar-ios">
    </ion-nav-bar>
    <ion-content scroll="true" class="has-header-padding" on-swipe-left="welcome('welcome.c')" on-swipe-right="welcome('welcome.a')">
        <ion-list>
            <ion-item class="item-clear">
                <h1 class="text-center calm">BIENVENIDO</h1>
            </ion-item>
            <ion-item class="item-clear item-no-padding-side item-no-padding-bottom item-280px">
                <img class="img-responsive img-middle" src="img/welcome.b.png" alt=""/>
            </ion-item>
            <ion-item class="item-clear item-no-padding-bottom text-center item-92px">
                Busca la farmacia más cercana <br/>
                para obtener tus medicamentos.
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-clear text-center footer-has-button-block">
        <ion-item class="text-center item-clear item-no-margin-top item-no-padding-bottom item-height-55">
            <div class="slider-pager footer">
                <span class="slider-pager-page" ui-sref="welcome.a" ><i class="icon ion-record"></i></span>
                <span class="slider-pager-page active" ui-sref="welcome.b"><i class="icon ion-record"></i></span>
                <span class="slider-pager-page" ui-sref="welcome.c"><i class="icon ion-record"></i></span>
            </div>
        </ion-item>
        <ion-item class="text-center item-clear item-no-margin-top item-no-padding-bottomitem-height-55">
            <button class="button button-clear" ui-sref="welcome.c"><span class="calm">Omitir</span></button>
        </ion-item>
    </ion-footer-bar>
</ion-view>