<ion-view class="background-main" view-title="{{'OTHER.PROFILE.EDIT.TITLE'|locale}}">
<ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="main.dash.home">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <form name="profileForm">
        <ion-content scroll="true" class="has-one-button-footer">
            <div class="padding">
                <div class="text-center padded">
                    <ion-list>
                        <ion-item class="text-center item-clear">
                            <div class="shape-image v-middle shape-input" fileimage ng-model="profile.imagen">
                                <div class="shape-icon">
                                    <div class="center" style="background: url('{{profile.imagen}}');">
                                        <i ng-if="!profile.imagen" class="icon ion-android-person"></i>
                                    </div>
                                </div>
                                <div class="foot-icon">
                                    <i class="icon ion-android-add"></i>
                                </div>
                                <input type="file" class="hide" accept="image/jpeg"/>
                            </div>
                        </ion-item>
                        <ion-item class="item-input gray">
                            <input type="text" ng-model="profile.username" minlength="3" placeholder="{{'MAIN.PROFILE.USERNAME'|locale}}">
                        </ion-item>
                        <ion-item class="item-input gray">
                            <input type="email" required ng-model="profile.email" minlength="4" placeholder="{{'MAIN.PROFILE.EMAIL'|locale}}">
                        </ion-item>
                        <ion-item class="item-input gray">
                            <input type="text" ng-model="profile.diagnostico" minlength="4" placeholder="{{'MAIN.PROFILE.DIAGNOSIS'|locale}}">
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="bar-clear text-center footer-has-button-block">
            <ion-item class="item-clear item-no-margin-bottom item-no-margin-top item-no-padding-side">
                <button class="button button-block button-calm button-ios" ng-click="save(profile)" ng-disabled="profileForm.$invalid">{{"MESSAGE.SAVE"|locale}}</button>
            </ion-item>
        </ion-footer-bar>
    </form>
</ion-view>