<ion-view class="background-main" view-title="">
    <ion-nav-bar class="bar-clear">
    </ion-nav-bar>
    <ion-content scroll="false">
        <ion-list>
            <ion-item class="text-center item-clear">
                <img src="img/logo_bg.png" alt="" class="logo-main-home"/>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-clear text-center bar-subfooter subfooter-has-button-block">
        <button class="button button-calm button-ios button-block" ui-sref="start.login">{{"START.LOGIN"|locale}}</button>
        <button class="button button-calm button-ios button-block button-outline button-positive-font" ui-sref="start.step-a">{{"START.REGISTER"|locale}}</button>
        <div class="item item-clear"></div>
    </ion-footer-bar>
</ion-view>