<ion-view class="background-clean" view-title="{{'REGISTER.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="start.step-b">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-calm head-blue" ng-click="addMedicine()">
            {{"REGISTER.ADD"|locale}}
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <ion-list>
            <ion-item class="item-clear-padded-line item-icon-right" ng-repeat="medicine in register.customMedicines">
                <span class="balanced font-ios">{{medicine.nombre}}</span>
                <ion-option-button ng-click="delete(medicine)" class="button-assertive">{{'REGISTER.REMOVE'|locale}}</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>