<ion-view class="background-main" view-title="{{'REGISTER.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ui-sref="start.main">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <form name="register">
        <ion-content scroll="true" class="has-one-button-footer-two">
            <ion-list>
                <ion-item class="text-center item-clear">
                    <img src="img/logo_bg.png" alt="" class="logo-main-home"/>
                </ion-item>
            </ion-list>
            <div class="" lowerspace>
                <div class="to-bottom padded">
                    <ion-item class="item-input gray">
                        <input type="text" ng-model="register.username" autocapitalize="off" required minlength="4" placeholder="{{'REGISTER.USERNAME'|locale}}">
                    </ion-item>
                    <ion-item class="item-input gray">
                        <input type="email" ng-model="register.email" autocapitalize="off" required minlength="4" placeholder="{{'REGISTER.EMAIL'|locale}}">
                    </ion-item>
                    <ion-item class="item-input gray">
                        <input type="password" ng-model="register.password" required minlength="4" placeholder="{{'REGISTER.PASSWORD'|locale}}">
                    </ion-item>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="bar-clear text-center footer-has-button-block">
            <ion-item class="item-clear item-no-margin-bottom item-no-padding-side">
                <button class="button button-block button-calm button-ios" ng-click="next(register)" ng-disabled="register.$invalid">{{"REGISTER.NEXT"|locale}}</button>
            </ion-item>
            <ion-item class="text-center item-clear item-no-margin-top item-height-55">
                <div class="slider-pager footer">
                    <span class="slider-pager-page active" ><i class="icon ion-record"></i></span>
                    <span class="slider-pager-page" ui-sref="start.step-b"><i class="icon ion-record"></i></span>
                    <span class="slider-pager-page" ui-sref="start.step-c"><i class="icon ion-record"></i></span>
                </div>
            </ion-item>
        </ion-footer-bar>
    </form>
</ion-view>