<ion-view class="background-main" view-title="{{'MAIN.MEDICINE.HOME.TITLE'|locale}}">
    <ion-nav-bar class="bar-light title-blue bar-ios">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive button-icon" ng-click="toggleLeft()">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive button-icon" ui-sref="main.search.do">
            <i class="icon ion-ios-search"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <div class="padding" ng-if="filters">
            <div class="button-bar filter">
                <a class="button button-small button-outline button-calm" ng-click="setFilter('55beb2084f0294461dae779b')" ng-class="{'active': filter == '55beb2084f0294461dae779b'}">Ahumada</a>
                <a class="button button-small button-outline button-calm" ng-click="setFilter('55beb2d44f0294461dae779c')" ng-class="{'active': filter == '55beb2d44f0294461dae779c'}">Cruz Verde</a>
                <a class="button button-small button-outline button-calm" ng-click="setFilter('55c433a41c281015283a52a8')" ng-class="{'active': filter == '55c433a41c281015283a52a8'}">Novasalud</a>
                <a class="button button-small button-outline button-calm" ng-click="setFilter('561510c977c862e2d21a8dcc')" ng-class="{'active': filter == '561510c977c862e2d21a8dcc'}">Liga</a>
                <a class="button button-small button-outline button-calm" ng-click="setFilter('55c4338d1c281015283a52a7')" ng-class="{'active': filter == '55c4338d1c281015283a52a7'}">SalcoBrand</a>
            </div>
        </div>
        <div class="map-wrapper" data-tap-disabled="true" lowerspace map marker="[]" sucursals="sucursales" change="centerChange"></div>
    </ion-content>
</ion-view>